<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>DSE - Knowledge Sharing 2015: AngularJS</title>

        <meta name="description" content="AngularJS Presentation">
        <meta name="author" content="Jean Claudette Ambait">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/moon.css" id="theme">

        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section>
                    <h1>AngularJS</h1>
                    <h3>Google's Client-side MVC</h3>
                    <p>
                        <small>Presented by <a href="http://jeanambait.com">Jean Claudette Ambait</a></small>
                    </p>
                </section>

                <section>
                    <section>
                        <h2>DOM Manipulation History</h2>
                        <p>
                            XMLHttpRequest object provided a way for asynchronous communication between client and server (AJAX)
                        </p>
                        <pre><code data-trim>
//----------------------------------------------
// hello-world.html
Hello World!

//----------------------------------------------
// DOM update
var xmlhttp; // create new XMLHttpRequest object
if (window.XMLHttpRequest){
    xmlhttp = new XMLHttpRequest(); // for IE7+, Firefox, Chrome, Opera, Safari
} else {
    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP"); // for IE6, IE5
}
xmlhttp.open("GET", 'hello-world.html', true); // create a asynchronous GET request

xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4) { // request is done
        if (xmlhttp.status == 200) // successful return
        {
            document.getElementById("message").innerHTML = xmlhttp.responseText;
        }
        else
        {
            alert('Something is wrong !!');
        }
    }
};

xmlhttp.send(null);

//----------------------------------------------
// page in browser
<div id="message">(response will be placed here)</div>
                        </code></pre>
                    </section>
                    <section>
                        <h2>Encapsulation</h2>
                        <p>jQuery (and similar libraries) abstracted all manipulation</p>
                        <pre><code data-trim>
// shorter code, same outcome
$.get('hello.html', function(data) {
    $('#message').html(data);
});
                            </code></pre>
                    </section>
                    <section>
                        <h2>Separation of Concerns</h2>
                        <p>MVC architecture like AngularJS simplifies development and testing</p>
                        <pre><code data-trim>
//----------------------------------------------
// add minified library
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>

//----------------------------------------------
// view
<div ng-controller="TaskCtrl">
    <ul>
      <li ng-repeat="task in tasks">
        <span>{{task.text}}</span>
      </li>
    </ul>
    <form>
      <input type="text" ng-model="taskText" placeholder="add new task here">
      <input type="submit" value="add" ng-click="addTask()">
    </form>
</div>

//----------------------------------------------
// controller
function TaskCtrl($scope) {
  $scope.tasks = [
    {text:'learn angular'},
    {text:'build an angular app'}];

  $scope.addTask = function() {
    $scope.tasks.push({text:$scope.taskText});
    $scope.taskText = '';
  };
}
                            </code></pre>
                    </section>
                </section>

                <section>
                    <h2>DOM Extension</h2>
                    <p>Directives in Angular let you modularize the presentation layer for easy testing</p>
                </section>

                <section>
                    <h2>References</h2>
                    <p>
                        <ul>
                            <li><a href="http://en.wikipedia.org/wiki/Ajax_%28programming%29">Ajax (programming)</a></li>
                            <li><a href="http://howtodoinjava.com/2013/06/21/complete-ajax-tutorial/">Complete AJAX tutorial</a></li>
                            <li><a href="https://angularjs.org/">AngularJS site</a></li>
                        </ul>
                    </p>
                </section>

                <section style="text-align: left;">
                    <h1>THE END</h1>
                    <p>
                        Thank's for listening.
                    </p>
                </section>

            </div>

        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.js"></script>

        <script>

            // Full list of configuration options available at:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                transition: 'slide', // none/fade/slide/convex/concave/zoom

                // Optional reveal.js plugins
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true },
                    { src: 'plugin/notes/notes.js', async: true }
                ]
            });

        </script>

    </body>
</html>
